
div{
  text-align: center;
  
}
h1{
  
  padding: 1%;
  font-family: 'Nunito', sans-serif;

}

/*********************** <Main/> ************************/

.Main{
  padding: 0vw;
  width: inherit;
  
  height: inherit;
}
.LitleMain{
  width: inherit;
  height: 60vh;
  display: flex;
  flex-direction: row;
  
  
}


.Logo{
  width: 80vw;
  padding: 5% 5% 5% 0%;
  background-color:  rgb(47, 83, 44);
}
.LogoContent{
  width: 900px;
  opacity: 0.3;
}


.NavBar{
  width: inherit;
  max-width: 100vw;
  height: auto;
  background-color: rgb(96, 146, 139);
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  
  
}




.MenuItem{
  border-left: 0.1vw solid black;
  width:16em;
  max-width: 19vw;
  font-size: 15px;
  line-height: 5vh;
  
}
.SignItem{
  width:  150px;
  height: 72px;
  border-left: 0.1vw solid black;
  border-bottom: 0.1vw solid black;
  font-size: 10px;
  line-height: 5vh;
  
}

.SignPanel{
  background-color:  rgb(47, 83, 44);
  width: 20vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  
  
 
  
}
.Header{
  background-color: darkorange;
  width: inherit;
}


/******************* LastMinute *************/

.TripContainer{
  background-color: darkseagreen;
  width: inherit;
  height: auto;
  clear: both;
  overflow: visible;
  direction: flex;
  flex-direction: column;
  
  
}
.LastTrips{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  

}

.Trip{
  width: 310px;
  height: 360px;
  border: 0.1vw solid black;
  display: flex;
  flex-direction: column;
  margin:20px;
  
}

.Info{
  background-color:green;
  background-image: url('http://niedziela.pl/gifs/portaln/624x400/1480504312.jpg');
  width: inherit;
  height: 160px;
  display: flex;
  flex-direction: column;
  
}
.Info ul{
  padding: 20px 40px 0px 20px;
  list-style-type: none;
  
  
  
}
.Info li{
  text-align: left;
  padding: 10px;
  opacity: none;
  color: black;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.514);
  font-family: 'Nunito', sans-serif;

  
}

.Level{
  width:310px;
  height: 43px;
  
  
}
.LevelSquare{
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px  solid  black;
  border-right: 0.1vmin solid black;;
  width: 46px;
  height: inherit;
  margin-top: -28px;
  font-size: 18px;
  
}

.TripName{
  background-image: linear-gradient(to bottom right,  rgb(66, 75, 62),rgb(199, 207, 197));
  width: 200px;
  height: 43px;
  margin-top: -10px;
  margin-left: 7px;
  float: left;
  display: flex;
  align-items: center;   
  justify-content: left;
  padding-left: 10px ;
  font-size:27px;
 
  /*font-family: 'Patrick Hand', cursive;*/
}
.Type{
  float: left;
  display: flex;
  align-items: center;   
  justify-content: center;
  font-size: 20px;
  width: 78px;
  height: 36px;
}
.DescText{
  clear: both;
  padding: 5px 10px 0px 12px; ;
  font: size 15px;
  height: 130px;
  overflow: hidden;
  text-align: left;

  font-family: 'Patrick Hand', cursive;
}


p{
  margin: 0vmin;
}
.DarkGrey{
  color:black;
}
.Grey{
  opacity: 0.6;
}
.LightGrey{
  opacity:0.3;
}
.White{
  opacity: 0.1;
}


.SeeMore{
  position: relative;
  bottom: 0px;
  background-color: rgb(87, 122, 87);
  font-size: 12px;
  
}
.Trips{
  background-color: rgb(99, 144, 150);
}
.TripsContent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
}


.Filtry{
  padding: 2%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  max-width: 100vw;
  
  

}
.Filtry > *{
  margin-left:2vw;
  
  
}
.CheckBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
  height: 2em;
}





.AboutUs{
  padding: 2% 6% 6% 6%;
}

.UnFold{
  color:black;
  margin-top: 1%;
  height: 2vh;
  line-height: 1vh;
  background-color: rgba(180, 180, 180, 0.301);
}

.Galery{
  height: 80vh;
  background-size: inherit;
  background-image:  url('https://www.rei.com/adventures/assets/adventures/images/trip/core/asia/nua_hero')
}

.Arrows{
  display: flex;
  justify-content: space-between;
  padding: 5% 10% 5% 10%;
  font-size: 10vmin;
  color:grey;
}
.Dots{
  display: flex;
  flex-direction: row;
  justify-content:  center;
  position: relative;
  top:15vh;
}
.Dots i{
  margin: 0.5%;
}

.Footer{
  height: auto;
  background-color: rgb(56, 66, 47);
  color: white;
  padding: 5%;
}